<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书添加页面</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <style>
        body{
            background-image: url("../../static/images/01.JPG");
        }
    </style>
</head>
<body>
<div>
    <div class="title">
        <p>
            图书添加页面
        </p>
    </div>
    <div class="container">
        <form method="post" action="../add/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>书名：</td>
                    <td><input name="book_name" class="input"></td>
                </tr>
                <tr>
                    <td>作者：</td>
                    <td><input name="book_author" class="input"></td>
                </tr>
                <tr>
                    <td>类型：</td>
                    <td><input name="book_type" class="input"></td>
                </tr>
                <tr>
                    <td>价格：</td>
                    <td><input name="book_price" class="input"></td>
                </tr>
                <tr>
                    <td>出版社：</td>
                    <td><input name="book_press" class="input" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>