<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书搜索页面</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <style>
        body{
            background-image: url("../../static/images/01.JPG");
        }
    </style>
</head>
<body>
<div>
    <div class="title">
        <p>
            图书搜索页面
        </p>
    </div>
    <div class="container">
        <form method="post" action="../select/" >
            {% csrf_token %}

            <table>
                <tr>
                    <th>书名：</th>
                    <td>
                        <input name="book_name" value="{{ book.book_name }}" class="input">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>